//React toast styles
.Toastify__toast-container {
	width: 300px;
	svg {
		margin-right: 12px;
		width: 12px;
		height: 12px;
	}
}
.Toastify__toast {
	position: relative;
	overflow: hidden;
	margin: 0 0 6px;
	width: 300px;
	border-radius: 3px 3px 3px 3px;
	background-repeat: no-repeat;
	box-shadow: 0 0 12px #999;
	color: #fff;
	padding: 16px 24px 16px 48px;
	background-position: 24px center;
	background-size: 12px;
}
.Toastify__toast--error {
	background-color: #ff6262;
}
.Toastify__toast--warning {
	background-color: #eea30e;
}
.Toastify__toast--info {
	background-color: #537cfd;
}
.Toastify__toast--success {
	background-color: #74b675;
}
.rc-toast-presentation {
	display: flex;
	align-items: center;
	.rc-toast-message {
		font-size: 12px;
		padding: 10px;
		width: 80%;
	}
}
