@import 'src/ui/styles/index';

.oc-card {
	display: flex;
	cursor: pointer;

	svg {
		height: 16px !important;
		width: 16px !important;
	}

	.oc-rating-single {
		align-items: baseline;
		display: flex;
	}

	&__icon {
		height: 74px;
		flex-shrink: 0;

		img {
			width: 44px;
		}
	}

	&__content {
		margin-left: 2rem;
		padding: 0;
		flex: 1;
		min-width: 0;

		&-name {
			@include font-medium();
			font-weight: 600;
			height: 19px;
			line-height: 19px;
			margin-bottom: 1rem;
			color: $body-color;
			text-transform: capitalize;
		}

		&-info {
			display: flex;
			margin-bottom: 0.5rem;

			.oc-card__content-price {
				@include font-medium();
				@include font-size-md();
				font-weight: 600;
				color: $primary;
				min-width: 100px;
				margin-bottom: 0;
				text-transform: capitalize;
			}
		}

		&-summary {
			height: 2.3rem;
			line-height: 2.3rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: break-word;
			@include font-size-md();
			margin-bottom: 0;
			color: $secondary;
			@include default-text();
		}
	}
}
