@import '../../../styles/index';

.oc-input-component {
  @include font-size-breakpoint(md);
  border: 1px solid #c9d5ea !important;
  border-radius: 4px;
  font-size: 14px;
  height: 46px;
  padding: 12px 16px;
  width: 100%;
  &:focus {
    border: 1px solid #537cfd !important;
    box-shadow: none;
    outline: none;
    transition: ease-in-out 0.3s;
  }
  &__required {
    color: $danger;
  }
}
